@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  margin-right: auto;
}

.footer {
  padding-right: 16px;
  display: flex;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  color: #666;
  text-decoration: none;
}

.left-links {
  display: flex; 
  list-style: none;
  gap: 8px;
}

.right-links {
  display: flex; 
  list-style: none;
  gap: 8px;
  margin-left: auto;
  padding-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100%;
}

.buttons {
  gap: 8px;
  margin-top: 20px;
}